version: '3' 
services:
  nacos-server:
    image: nacos/nacos-server:v2.1.2
    container_name: nacos-server
    ports:
      - "8848:8848"
      - "9848:9848"
    restart: on-failure
    privileged: true
    environment:
      MODE: standalone
      NACOS_AUTH_ENABLE: 'true'
      PREFER_HOST_MODE: ip #如果支持主机名可以使用hostname,否则使用ip，默认也是ip
      SPRING_DATASOURCE_PLATFORM: mysql #数据源平台 仅支持mysql或不保存empty
      MYSQL_SERVICE_HOST: 127.0.0.1 #mysql配置，Master为主节点，Slave为从节点
      MYSQL_SERVICE_PORT: 3306
      MYSQL_SERVICE_DB_NAME: nacos
      MYSQL_SERVICE_USER: root
      MYSQL_SERVICE_PASSWORD: password

