server:
  port: 11020
spring:
  application:
    name: simple-demo-redisson
simple:
  redisson:
#    #缺省项为false
    enabled: true
    type: masterSlave
    config:
      ## 单体模式
      standalone:
        address: redis://127.0.0.1:6379
        password:
        database: 0
      ## 主从模式
      masterSlave:
        masterAddress: redis://127.0.0.1:6379
        slaveAddresses:
          - redis://127.0.0.1:6379
        password:
        database: 0
      ## 哨兵配置
      sentinel:
        sentinelMasterName: myMaster
        sentinelAddresses:
          - redis://127.0.0.1:26379
          - redis://127.0.0.2:26379
        password:
        database: 0
      ## 集群方式
      cluster:
        clusterAddresses:
          - redis://127.0.0.1:7000
          - redis://127.0.0.1:7001
          - redis://127.0.0.2:7000
        password:

    #Cacheable注解自定义配置
    cacheable:
      #缺省项为false,优先级小于simple.redisson.enabled
      enabled: true
      config:
        #自定义cacheName及过期时间
        cacheExpiresAfterFiveMinutes:
          ttl: 300000
          maxIdleTime: 300000
        cacheExpiresAfterTenSecond:
          ttl: 10000
          maxIdleTime: 10000
